#register_success {
	
	width: 50%;
	margin: 30px auto;
	text-align: center;
	
}


#register_area {
	
	background-color: D6D6D6;
	width: 50%;
	margin: 30px auto;
	padding: 30px;
	border: 1px solid grey;
	box-shadow: 2px 2px 2px #888888;
	
}

.u_inp {
	
	width: 100%;
	padding: 3px;
	
}

.login_button {
	
	font-size: 16px;
	font-family: Noto Sans;
	
	width: 50%;
	padding-right: 10px;
	padding-left: 10px;
	
	color: white;
	background-color: 00C2ED;
	border: 2px solid 0098BA;
	
}

.cancel_button {
	
	font-size: 16px;
	font-family: Noto Sans;
	
	width: 48.7%;
	padding-right: 10px;
	padding-left: 10px;
	
	color: white;
	background-color: red;
	border: 2px solid C70000;
	
}
.login_button:hover {
	
	background-color: 0098BA;
	
}

.cancel_button:hover {
	
	background-color: C70000;
	
}
