@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

@font-face {
	
	font-family: Clear Sans;
	src: url(ClearSans-Light.ttf);
	
}

body {
	
	font-family: Clear Sans;
	font-size: 1.20em;
	
}

a {
	
	color: black;
	text-decoration: none;
	
}

a:hover {
	
	color: darkgrey;
	text-decoration: underline;
	
}

a:active {
	
	color: orange;
	
}

input {
	
	font-family: 'Noto Sans', sans serif;
	
}

table {
	
	border-spacing: 0px;
	border-color: darkgrey;
	
}

table th {
	
	text-align: left;
	
}

#top_bar {
	
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	
}

.centered {
	
	text-align: center;
	
}

#cur_time {
	
	color: 828282;
	
	-moz-user-select: none; -webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	
}

.btn_enter {
	
	padding: 5px;
	background-color: green;
	color: white;
	
}

.btn_delete {
	
	padding: 5px;
	background-color: darkred;
	color: white;
	
}

.btn_enter:hover {
	
	color: white;
	
}

.btn_delete:hover {
	
	color: white;
	
}





































